<%- include('../partials/header'); %>
<%- include('../partials/menu'); %>

    <!-- begin containers for information and picture for profile -->
    <% if (error) { %>
      <div class="alert alert-danger"><%- message %></div>
    <% } %>
    
    <div class="row">
      <div class="col-4">
        <%- include('../partials/profile_p_i', {note:note,mess:mess,about:about,users:users}); %>
      </div>
      <div class="col-8">
       
        <%- include('../partials/profile_d_t', {note:note,mess:mess,about:about,users:users}); %>
      </div>
    </div>
    <!-- end profile -->
    <%- include('../partials/change_profile'); %>

    <%- include('../partials/uploading'); %>

    <%- include('../partials/footer'); %>

    

